---
name: Overview
sourceless: true
---

<footer class="u-spaceTop1 u-textShrink01">
  <div class="u-pad1 u-padBottom4">
    <div class="Grid u-md-padLeft1">
      <div class="Grid-cell u-md-size5of12 u-spaceBottom1 u-after1of12">
        <h3 class="u-textPink u-textGrow2 u-spaceBottom1"><b>Hello there...</b></h3>
        <p><i>I am Nicole Mors, a Designer located in cloudy Portland Oregon. You should know, I have serious weakness for all things cute, including but not limited to babies, baby animals and Grumpy Cat. Most recently I am learning JavaScript, and buying books I never get around to reading. When I am not designing or interneting, I like to run and stay up late watching <a href="/pages/kungfu.html">kung fu</a>. I am currently making the web responsive <span class="u-textNoWrap">at <a href="http://www.cloudfour.com">Cloud Four</a></span>.</i></p>
        <ul class="u-listInline u-spaceTop1">
          <li>
            <a href="https://twitter.com/nicolemors">
              {{svg "twitter" class="Icon Icon--twitter u-textGrow3"}}
            </a>
          </li>
          <li>
            <a href="https://dribbble.com/nicolemors">
              {{svg "dribbble" class="Icon Icon--dribbble u-textGrow3"}}
            </a>
          </li>
          <li>
            <a href="https://github.com/nicolemors">
              {{svg "git" class="Icon Icon--git u-textGrow3"}}
            </a>
          </li>
        </ul>
      </div>
      <div class="Grid-cell u-md-size1of2">
        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-md-size1of2 u-md-sizeFull u-spaceBottom1">
            <h3 class="u-textPink u-textGrow2 u-spaceBottom1"><b>Listening To...</b></h3>
            <p><i><a href="https://open.spotify.com/album/3AH5uKRSJRdahN9ut2XE9D">Rachet</a> by Shamir</i></p>
            <p><i><a href="https://open.spotify.com/album/2A8IKX257C4hJaYUHMhLP7">I Love You Honeybear</a> by Father John Misty</i></p>
            <p class="u-spaceTop1">
              <a href="https://player.spotify.com/user/nicolemors">
                {{svg "spotify" class="Icon Icon--spotify u-textGrow3 u-textPink-light"}}
              </a>
            </p>
          </div>
          <div class="Grid-cell u-md-size1of2 u-md-sizeFull">
            <h3 class="u-textPink u-textGrow2 u-spaceBottom1"><b>Kind of reading...</b></h3>
            <p><i><a href="http://www.amazon.com/gp/product/0465050654/ref=pd_lpo_sbs_dp_ss_1?pf_rd_p=1944687762&pf_rd_s=lpo-top-stripe-1&pf_rd_t=201&pf_rd_i=1452654123&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=0YW6MRWZ5PA2ZM6VPCNX">The Design of Everyday Things</a> by Don Norman</i></p>
            <p><i><a href="http://eloquentjavascript.net/">Eloquent JavaScript</a> by Marijn Haverbeke</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bgGreyLight u-pad1 u-padTop4">
    <div class="Grid">
      <div class="Grid-cell u-md-size5of12 u-after1of12 u-md-padLeft1 u-spaceBottom1">
        <h4 class="u-textPink u-textUppercase u-textSpaceSm u-spaceBottom01">Future Speaking</h4>
        <a class="u-spaceEnds1" href="https://www.eventbrite.com/e/pdx-digital-pm-meetup-ask-a-designer-panel-tickets-32328178452">PDX Digital PM Meetup - Ask a Designer Panel</a>
        <p class="u-textShrink1">The working dynamics of project management and creative can be completely frictionless or rather bumpy (with the reality usually falling somewhere inbetween), so we'll use this chance to poll design on how they think we can work best together.
          "Ask a Designer" panel will allow the opportunity for candid conversation about what designers really want you to know when office politics and potentially awkward coworkers conversations are removed from the equation.</p>

        <p class="u-textBold">March 14, 2017 at 5:30PM - Planet Argon</p>
      </div>
      <div class="Grid-cell u-md-size1of2">
        <h4 class="u-textPink u-textUppercase u-textSpaceSm u-spaceBottom01">Past Speaking</h4>
        <ul class="u-listUnstyled u-spaceItems1">
          <li>
            <a class="u-block" href="http://localhost:3001/death-design-comp"><i>Death of the Design Comp: Down with the King</i></a>
            PDX Web & Design Meetup, December 2014
          </li>
          <li>
            <a class="u-block" href="http://eroi.com/ideas/mortality-of-design-wrap-up/"><i>
            RE: RE: RE: RE: RE:VOLUTION: A History of Email Design</i></a>
            Design Week Portland, October 2013
          </li>
          <li>
            <a class="u-block" href="http://eroi.com/ideas/mortality-of-design-wrap-up/"><i>
              Death of the Design Comp: Down with the King</i></a>
              Design Week Portland, October 2014
            </a>
          </li>
          <li>
            <a class="u-block" href="http://eroi.com/ideas/clouds-code-crying-squirrels-a-journey-of-self-education/"><i>
            Code, Clouds, & Crying Squirrels</i></a>
            Design Week Portland, October 2013
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
