---
title: AgencyLife
layout: page
---

<div class="u-pad1 u-containProse u-spaceTop1 u-spaceItems1">
  <h1 class="u-textPink u-textUppercase u-textSpaceSm u-textLight u-textGrow4">#AgencyLife</h1>
  <h2><strong>My time as an eROI-ian</strong></h2>
  <p class="u-textGrow2 u-spaceTop1">After having spent the majority of my working Design career in-house, I got the opportunity in 2013 to make the change to agency life, accepting a position at <a href="http://www.eroi.com/">eROI</a>, a full service digital agency located in the heart of Old Town.</p>

  <p>eROI has its roots in email marketing, so over the almost two years I worked there I did a lot of concepting, strategizing, designing and presenting email work. I also, worked on a few fun internal projects, integrated campaigns, some branding and also participated in the agencies involvement in Design Week.</p>

  <p>I saw first hand a bit of a metamorphosis when the agency ramped up work for a world wide shoe manufacturer, and grew from a scrappy team of under 20 to over 40! I myself, moved from Designer to Design Lead, Art Directing and maneuvering my own clients and projects as well as directing, and mentoring the Designers on my team. Overall, it was a really great first agency experience and I feel really good about the time I spent there. <span class="u-textBold">Here are my favorites from my time at eROI:</span></p>

  <div class="u-release u-bgGreyLight">
    <div class="u-containProse u-padSides1 u-padEnds2">
      <h2 class="u-textGrow2 u-textUppercase u-textLight u-padBottom1">Client Work:</h2>

      {{#embed "patterns.combos.post-preview.base"}}
        {{#content "image"}}
          <a href="/pages/FMJ-gifts-that-delight.html">
            {{svg "FMJ-logo" class="u-textGrey u-padTop2"}}
          </a>
        {{/content}}
        {{#content "title"}}
          <a class="u-textGrow2 u-linkEnter u-textBold" href="/pages/FMJ-gifts-that-delight.html">
            <span class="u-textPink">
              Gifts That Delight
            </span>
          </a>
        {{/content}}
        {{#content "content"}}
          <span class="u-textBold u-block">Client:</span> Fred Meyer Jewelers

          <span class="u-textBold u-block">Responsibilities: </span>Concept, microsite design, email campaign design
        {{/content}}
        {{#content "button"}}
          {{#embed "patterns.components.button.base" class="Button--secondary" href="/pages/FMJ-gifts-that-delight.html"}}
            {{#content "content"}}
              See Project
            {{/content}}
          {{/embed}}
        {{/content}}
      {{/embed}}

      <hr class="u-spaceEnds2">

      {{#embed "patterns.combos.post-preview.base"}}
        {{#content "image"}}
          <a href="/pages/hfo-branding.html">
            <img class="u-sizeFull" src="/images/hfo-mark.svg">
          </a>
        {{/content}}
        {{#content "title"}}
          <a class="u-textGrow2 u-linkEnter u-textBold" href="/pages/hfo-branding.html">
            <span class="u-textPink">
              Building a Brand
            </span>
          </a>
        {{/content}}
        {{#content "content"}}
          <span class="u-textBold u-block">Client:</span> HFO

          <span class="u-textBold u-block">Responsibilities: </span>Logo design
        {{/content}}
        {{#content "button"}}
          {{#embed "patterns.components.button.base" class="Button--secondary" href="/pages/hfo-branding.html"}}
            {{#content "content"}}
              See Project
            {{/content}}
          {{/embed}}
        {{/content}}
      {{/embed}}
    </div>
  </div>
  <h2 class="u-textGrow2 u-textUppercase u-textLight u-padBottom1 u-padTop1">Internal Work:</h2>
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-sm-size1of2">
      <img class="u-sizeFull u-spaceBottom1" src="/images/flash.jpg">
    </div>
    <div class="Grid-cell u-sm-size1of2 u-spaceItems1">
      <h3>DESIGN WEEK 2013</h3>
      <p>eROI gave me the opportunity to give a talk about my journey as a designer, self educating my way from print designer to web designer.</p>
      {{#embed "patterns.components.button.base" class="Button--secondary" href="http://eroi.com/ideas/clouds-code-crying-squirrels-a-journey-of-self-education/"}}
        {{#content "content"}}
          Read the recap
        {{/content}}
      {{/embed}}
    </div>
    <div class="u-sizeFull">
      <p class="u-padTop1">Self education is so important, I truly believe that you have to keep learning and growing in whatever you choose to do. This was also one of my very first experiences with public speaking. I also created an animated short for this talk, based off of an old animation I did in the early 2000's. <a href="http://eroi.com/ideas/clouds-code-crying-squirrels-a-journey-of-self-education/">Check them out!</a></p>
    </div>
  </div>

  <hr>

  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-sm-size1of2">
      <img class="u-sizeFull u-spaceBottom1" src="/images/hearth.jpg">
    </div>
    <div class="Grid-cell u-sm-size1of2 u-spaceItems1">
      <h3 class="u-textUppercase">Holiday Cheers</h3>
      <p>For eROI's 2013 year end celebration, we created a fun microsite featuring everyone's favorite moment from the year. I designed and illustrated the microsite, which was a digital hearth that we invited users to grab their favorite drink and gather around. Each eROIian's photo is on the wall, when the user selects someone, they are taken to that person's story page.</p>
    </div>
    <div class="Grid-cell u-size1of3 u-spaceTop1">
      <img class="u-sizeFull u-spaceBottom1" src="/images/spirit-animals.gif">
    </div>
    <div class="Grid-cell u-size2of3 u-spaceTop1">
      <p>On the story page each person tells their favorite moment of 2013, favorite winter drink and what their spirit animal is. Each person's spirit animal was illustrated by yours truly, taking artistic liberty, with a few, instead of "a seal", I used Seal, and vice versa, instead of Saul Bass, they got a bass with Saul's signature glasses.</p>
    </div>
  </div>

  <hr>

  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-sm-size1of2">
      <img class="u-sizeFull u-spaceBottom1" src="/images/sandwiches.jpg">
    </div>
    <div class="Grid-cell u-sm-size1of2 u-spaceItems1">
      <h3 class="u-textUppercase">Sandwiches</h3>
      <p>One of my favorite eROI blog contributions was actually my first one. I decided to kill two birds with one stone, explore my new work 'hood, annnnnnnnnd eat lots of sandwiches. Win win.</p>
    </div>
    <div class="u-sizeFull">
      <p class="u-padTop1">Old Town can be super sketchy, and gross, but it totally has a way of growing on you. I can look past the homeless and crack heads to see the charm. Most cities have huge areas just like our Old Town. Our's is relegated to just a few blocks, keeping the yuppie Pearl District in check. In those blocks we have history, creative and art spaces, and many great places to eat sandwiches. In the post I eat a bunch of Old Town sandwiches and write about them, it was fun and delicious.</p>
      {{#embed "patterns.components.button.base" class="Button--secondary u-spaceTop1" href="http://eroi.com/ideas/sandwich-adventures/"}}
        {{#content "content"}}
          Read the recap
        {{/content}}
      {{/embed}}
    </div>
  </div>
</div>
<hr>
