---
title: AgencyLife
layout: page
---

<div class="u-pad1 u-containProse u-spaceTop1 u-spaceItems1">
  <h1 class="u-textPink u-textUppercase u-textSpaceSm u-textLight u-textGrow4">#AgencyLife</h1>
  <h2><strong>My time as an eROI-ian</strong></h2>
  <p class="u-textGrow2 u-spaceTop1">After having spent the majority of my working Design career in-house, I got the opportunity in 2013 to make the change to agency life, accepting a position at <a href="#">eROI</a>, a full service digital agency located in the heart of Old Town.</p>

  <p>eROI has its roots in email marketing, so over the almost two years I worked there I did a lot of concepting, strategizing, designing and presenting email work. I also, worked on a few fun internal projects, integrated campaigns, some branding and also participated in the agencies involvement in Design Week.</p>

  <p>I saw first hand a bit of a metamorphosis when the agency ramped up work for a world wide shoe manufacturer, and grew from a scrappy team of under 20 to over 40! I myself, moved from Designer to Design Lead, Art Directing and maneuvering my own clients and projects as well as directing, and mentoring the Designers on my team. Overall, it was a really great first agency experience and I feel really good about the time I spent there. <span class="u-textBold">Here are my favorites from my time at eROI:</span></p>

  <h2 class="u-textBold u-textPink">Client Work:</h2>

  <p>TO DO: add in work blurbs from work page</p>

  <h2 class="u-textBold u-textPink">Internal Work:</h2>
</div>
