---
title: Cloud Four
layout: page
---

<div class="u-pad1 u-containProse u-spaceTop1 u-spaceItems1">
  <h1 class="u-textPink u-textUppercase u-textSpaceSm u-textLight u-textGrow4">In the clouds</h1>
  <p class="u-textGrow2 u-spaceTop1">Joining the Cloud Four team has been super surreal. I have been a huge fan of theirs since I started designing for mobile. They are industry pioneers and leaders as well as overall good humans.</p>

  <p>At <a href="https://cloudfour.com/believes/">Cloud Four</a> I feel like I have found a niche, and a safe haven. A place where I can create pattern libraries, design systems and design in the browser. It’s been an interesting transition from full time visual design to complete design/development overlap. I have learned so much since starting at Cloud Four, here are some of the things that are the most interesting to me and should be to you too:</p>

  <h3 class="u-textPink u-textBold">
    The Work
  </h3>
  <p>
    <span class="u-textBold">While most of the projects I have worked on at Cloud Four are under NDA contracts (which means I can’t post them to my site),</span> <a href="https://cloudfour.com/made/">you can see the types of the projects I have worked on on the Cloud Four site.</a>
    Most projects start with an exploratory phase, this entails things such as site inventories, mood boards and element collages. Then we break apart the project into an agile sprint schedule, mapping different components of the site typically into two week chunks. We hold sketching sessions for some components, layouts or difficult design problems to generate as many ideas as possible. We talk through the ideas, zero in on the best and get to work. At Cloud Four we all get into code as soon as possible, designing and prototyping interactions in the browser. We then can test our ideas out on device as well as share in progress work with the client. Most of the deliverables for the projects I have worked on have been pattern libraries, however, we do contribute to client’s code base and products.
  </p>

  <h3 class="u-textPink u-textBold">
    The Process
  </h3>

  <p>We work collaboratively with clients. In my experience, project managers are the gate keepers to client interaction. Sure you have big reviews or presentations to client, but open client communication wasn’t really a thing. At Cloud Four, we have direct access to clients, sometimes even embedding in their teams to teach and share the intricacies of responsive design. It’s awesome to be able to share your work along the way in iterations instead of a Great Reveal at the end. You get to bring the client along on your design journey which builds a relationship, trust, and respect. I also believe that clients are actually happier with the end results because they have had some skin in the game. Instead of one sign off at the end, there are many mini sign offs along the way, which gives clients a little more ownership over the final product.
  <a href="https://cloudfour.com/thinks/client-engagement-the-cloud-four-way/">You can read more about the Cloud Four process on the site.</a></p>

  <h3 class="u-textPink u-textBold">
    Designing in the Open
  </h3>
  <p>
    While we definitely design in the open with regard to our client projects, at Cloud Four we recently redesigned the Cloud Four website in the open. The entire project happened live and in public. Our <a href="https://cloudfourredesign.herokuapp.com/">Slack channel</a> and Trello board were open and we blogged along the way. While development has been into open source for a long time, design is a little late to the game. I believe that Cloud Four is setting a precedent designing in open, letting everyone see the process and giving the public the opportunity to contribute and learn.
  </p>

  <div class="u-release u-bgGreyLight">
    <div class="u-containProse u-pad1 u-textCenter">
      <h2 class="u-textBold u-textGrow4">Ugly Unicorns</h2>
      <p><a class="u-textGrow1" href="https://cloudfour.com/thinks/the-year-of-the-ugly-unicorn/">Read my Cloud Four post about being a "unicorn".</a></p>
    </div>
  </div>

</div>

