---
title: Design Week Portland
layout: page
---

<div class="u-containProse u-spaceTop1 u-pad1 u-spaceItems1">
  <h1 class="u-textPink u-textUppercase u-textSpaceSm">Mortality of Design</h1>
  <p class="u-textBold">Design Week Portland 2014</p>

  <p class="u-textGrow1">First off, SIX events. Six. And, hey let’s wrap that in a concept, but not just a light concept, but a heavy one, like an existential morbid one. But, you know, it works. Because Design is DEEP and it’s October which means Day of the Dead and skulls and why not go allllllll the way down the rabbit hole because Design Week only happens once a year and there is no reason to go half way.</p>

  <figure class="Figure">
    <img src="/images/DWP-2014_Logo.jpg">
    <figcaption class="Figure-caption">Logo design by Tatiana Mac</figcaption>
  </figure>

  <p>That is how, I think, myself and fellow Design Lead, super smart <a href="https://twitter.com/tatianatmac">Tatiana Mac</a> ended up co-organizing a six-event series for Design Week Portland 2014, where she, and I, and eROI, and all of Portland explored the life, death and rebirth in design.</p>

   <p>Tatiana did a really great job bringing the concept to life with her fun use of fanciful Day of the Dead typography for the logo and <a href="http://mortalityofdesign.com/">micro-site.</a></p>

   <p>While she was busy with those projects, I got to work on a giveaway for attendees… dot grid notebooks for each event. Each notebook cover featured a skull that was designed specifically for that events topic.</p>
   <figure class="Figure">
    <img src="/images/journal-mockup.jpg">
  </figure>
  <p>In addition to co-organizing, I personally participated in two of the events. The first was night one, <a href="http://eroi.com/ideas/mortality-of-design-wrap-up/">RE: RE: RE: RE:VOLUTION. A History of Email Design</a>. eROI is a big player in the email game so it was only fitting that we dedicate a whole event to email. Myself and Lead Developer, Matthew Grantski gave a talk about the history of email and where it is going  in the future.</p>
  <figure class="Figure">
    <img src="/images/event-skulls.png">
  </figure>
  <p>The second event closed out Design Week, a talk on the <a href="http://localhost:3001/death-design-comp">Death of the Design Comp</a>. As designers and developers we have had a long relationship with the comp, this talk broke down where I see this relationship going as the current landscape of design communication changes around us. You can read ALL about this in my blog post, <a href="/pages/king.html">Down with the King.</a></p>
  <hr>
</div>


