---
title: Holiday Gift Giving Fun
layout: page
---

<div class="u-containProse u-spaceTop1 u-pad1 u-spaceItems1">
  <h1 class="u-textPink u-textUppercase u-textSpaceSm">Holiday Shopping Fun</h1>
  <p class="u-textBold">Client: Fred Meyer Jewelers</p>

  <p class="u-textBold">Responsibilities: Microsite web design, interactive quiz design, illustration</p>

  <p class="u-textGrow1">After the success of the previous holiday season's project with Fred Meyer Jewelers, we set out to increase social engagement and reach with a fun interactive quiz.</p>
  <figure class="Figure">
    <img src="/images/fmj-title.jpg">
  </figure>

  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-size1of3">
      <img class="u-sizeFull" src="/images/FMJ-quiz.jpg">
    </div>
    <div class="Grid-cell u-size2of3">
      <p class="u-spaceBottom1">Instead of doing a typical gift giving guide, we designed and created a fun Buzzfeed<sup>TM</sup> style quiz that matched users with a tailored piece of jewelry to gift to a special person. Each question featured custom illustrations or typography. </p>
      {{#embed "patterns.components.button.base" href="http://eroi.com/work/fmj/" class="Button--primary"}}
        {{#content "content"}}
          Read case study
        {{/content}}
      {{/embed}}
    </div>
  </div>

  <figure class="Figure">
    <img src="/images/icons.jpg">
    <figcaption class="Figure-caption">Each set of questions used typography or illustrations to add fun and whimsy.
  </figure>


  <hr>
</div>


