---
title: Gifts that Delight
layout: blank
---

{{{embed "patterns.components.masthead.base"}}}

<div class="u-containSpread u-spaceTop1 u-pad1">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size1of3 u-lg-size7of12 u-spaceBottom1">
      <img class="u-sizeFull" src="/images/fmj-full.png">
    </div>
    <div class="Grid-cell u-md-size2of3 u-lg-size5of12 u-spaceItems1">
      <h1 class="u-textPink u-textUppercase u-textSpaceSm">Gifts that Delight</h1>
      <p class="u-textBold">Client: Fred Meyer Jewelers</p>

      <p class="u-textBold">Responsibilities: Concept, microsite design, email campaign design</p>

      <p class="u-textGrow1">Fred Meyer Jewelers came to eROI for help with their 2013 Holiday Campaign. They were interested in some emails, but what we ended up with was SO much more.</p>
    </div>
  </div>
</div>

<div class="u-pad1 u-containProse u-spaceItems1">
  <p>This project was a big deal for eROI because it was the first project in the relationship with FMJ which would set the stage for future projects, and it was also important for me specifically being my first beginning-to-end client project at <a href="#">eROI</a>.</p>

  <h2 class="u-textPink u-textBold">The disconnect</h2>

  <p>The project kicked off with a discovery phase where we dove deep into Fred Meyer jewelers current brand and marketing strategies. They shared with us their brand personas, and other marketing plans. We realized right away where they envisioned themselves and where they actually at were two different places. They saw themselves aligned with fashion, trend and this overall idea of freshness. Their current marketing however, was very discount and sales focused. We needed to bridge the gap with their brand story.</p>

  <h2 class="u-textPink u-textBold">One message to rule them all</h2>

  <p>To do that, we started with presenting three ideas for concepts that would message our entire campaign. Within those concepts we also presented three different social media campaigns to compliment each concept. The idea that rose to the top was “Gifts that Delight" The social campaign consisted of a fun Pinterest Campaign that encouraged customers to pin to win a piece of jewelry.</p>

  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size2of3 u-lg-size7of12 u-spaceBottom1">
      <img class="u-sizeFull" src="/images/FMJ-2013-design.png">
    </div>
    <div class="Grid-cell u-md-size1of3 u-lg-size5of12">
      <h2 class="u-textPink u-textBold u-spaceBottom1">Design Story</h2>

      <p>I created two design directions that would tell the brand story for the campaign. One direction played close to the current FMJ aesthetic, a more conservative, traditional approach. The second pushed the aesthetic a step further, really pushing the brand and the story towards the ideas of freshness we observed in discovery.</p>
    </div>
  </div>

  <p>Fred Meyer's chose the second direction, a fun, fresh design. The color palette incorporated the print campaign palette of red and gold, along with bold, modern sans serif typography. The imagery focused around story telling and the human connection.</p>
  <figure class="Figure">
    <img src="/images/work_campaigns_template.png">
  </figure>
  <h2 class="u-textPink u-textBold u-spaceBottom1">Email Campaign and Microsite</h2>

  <p>The email campaign consisted of a six send series, taking the user through the holiday season. The series cadence took the user through a narrative of saving time to spend on the important holiday moments, while still being able to give a quality gift that would delight their loved ones. Each send gave compelling calls to action that carried through to the microsite. The microsite gave gift ideas for each person someone might have on their list as well as promoted our social Pinterest contest.</p>

  <p>This project was a great first project. It gave me a chance to get my feet wet and I was super satisfied with the overall success of the project. The connection we made with Fred Meyer Jewelers carried over to the next year where we were invited to concept and create for the 2014 holiday season. You can read more about this project in the eROI case study on their <a href="#">website</a>.
</div>

{{{embed "patterns.components.footer.base"}}}
