---
title: HFO Branding
layout: page
---

<div class="u-pad1 u-containProse u-spaceItems1">
  <h1 class="u-textPink u-textUppercase u-textSpaceSm">BUILDING A BRAND ON A SOLID PYRAMID</h1>
  <p class="u-textBold">Client: HFO</p>
  <p class="u-textBold">Responsibilities: Logo design</p>

  <p class="u-textGrow1">Every designer lives for the opportunity to redesign a brand, however, it can be a slippery slope. Branding projects are, and should be, more than dreaming up a slick logo and eye catching color palette. If you don't have a solid grasp of who the client is, what their business goals are and how they do business, your logo and aesthetic could completely miss the mark.</p>

  <p>Or worse, if you don't have the upfront work done to build a solid relationship with the client to foster trust, they won't let you take the the brand visually where it needs to go to best show the world who they are.</p>

  <p>It can be a daunting undertaking, lucky for me, finding a visual representation for HFO was the cherry on top the sundae of the branding process.</p>

  <p>HFO is a commercial real estate brokerage firm that focuses on apartment properties in Oregon and Washington. They came to eROI for a complete rebrand, the only limits were that we needed to keep the HFO name and finish in time for their headquarter move to a new location. With that, we set off to find out exactly who HFO was as company, starting with an extensive discovery process. We are talking EXTENSIVE, complete with customer + stakeholder interviews, and customer personas. We even had the HFO stakeholder team on site at eROI, where we worked together for two full-day brand workshops. Each day, we dug deep with brand exercises and delicious tacos. At the end of discovery we had built a Brand Pyramid that solidified HFO's Core Position, and Strategic Personality, giving us the insight into their business that was essential to building their visual brand.I cannot even describe how valuable this process was for understanding HFO. I know this sounds corny, but it made the visual design process feel like just the next natural step, in a process between to groups of friend-teams.</p>

  <p>Armed with all the brand knowledge and our HFO Brand Pyramid, I went to work on logos, starting first with sketches. Running parallel to this process we also tackled a new tagline, something that communicated what makes HFO the business that it is.</p>
  <figure class="Figure">
    <img src="/images/hfo-sketches.jpg">
  </figure>
  <p>After many brainstorms, internal reviews, iterations and tweaks we came down to two logo design options along with two tagline options.</p>
  <figure class="Figure">
    <img src="/images/hfo-iterations.png">
  </figure>

  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size1of2">
      <img class="u-sizeFull" src="/images/hfo-1.jpg">
    </div>
    <div class="Grid-cell u-md-size1of2">
      <h3 class="u-textUppercase u-textShrink01 u-textLight u-textPink">Direction One</h3>
      <p>
        The first direction was one of visual continuity. It felt closer to the HFO comfort zone with a strong typographic treatment and a sturdy serif font. It embodies the HFO strategic personality: a partner clients can trust to help them build a legacy and achieve success. The design was professional with a modern twist that differentiates HFO from the competition.
      </p>
    </div>
    <div class="Grid-cell u-md-size1of2 u-spaceTop1">
      <img class="u-sizeFull" src="/images/hfo-2.jpg">
    </div>
    <div class="Grid-cell u-md-size1of2 u-spaceTop1">
      <h3 class="u-textUppercase u-textShrink01 u-textLight u-textPink">Direction Two</h3>
      <p>
        The second direction pushed HFO in a direction that we felt was more inline with both where we discovered they were at but also where they envisioned HFO going in the future. A more modern and friendly approach which spoke to the uniqueness of HFO brand. The typography is rounded, open which gives this direction an approachable yet professional look and feel. The logo incorporates a wordmark that visually represents parts of a whole. This visual speaks to the collaborative nature of the HFO culture, and also nods toward apartment properties.
      </p>
    </div>
  </div>

  <p>The team felt both directions were a good fit for HFO, but we were ecstatic when they chose to go with direction two for their new logo. Read more about the project on eROI's <a href="#">website</a></p>
</div>



