---
title: eROI Holiday Cheers
layout: page
---

<div class="u-containSpread u-spaceTop1 u-pad1">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size1of3 u-lg-size7of12 u-spaceBottom1">
      <img class="u-sizeFull" src="/images/hearth.jpg">
    </div>
    <div class="Grid-cell u-md-size2of3 u-lg-size5of12 u-spaceItems1">
      <h1 class="u-textPink u-textUppercase u-textSpaceSm">eROI Holiday Cheers</h1>
      <p class="u-textBold">Client:  eROI Internal Project</p>

      <p class="u-textBold">Responsibilities: Concept, web design, illustration</p>
    </div>
  </div>
</div>

<div class="u-pad1 u-containProse u-spaceItems1">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-size1of3">
      <img class="u-sizeFull" src="/images/story.jpg">
    </div>
    <div class="Grid-cell u-size2of3">
      <p>For eROI's 2013 year end celebration, we created a fun microsite featuring everyone's favorite moment from the year. I designed and illustrated the microsite, which was a digital hearth that we invited users to grab their favorite drink and gather around. Each eROIian's photo is on the wall, when the user selects someone, they are taken to that person's story page. On the story page each person tells their favorite moment of 2013, favorite winter drink and what their spirit animal is.</p>
    </div>
  </div>
  <div class="Grid Grid--withGutter">

    <div class="Grid-cell u-md-size2of3">
      <p>Illustrating everyone's spirit animal was both fun, and a crap ton of work. I took artistic liberty with a few, instead of "a seal", I used Seal, and vice versa, instead of Saul Bass, they got a bass with Saul's signature glasses.</p>

    </div>
    <div class="Grid-cell u-md-size1of3 u-spaceBottom1">
      <img class="u-sizeFull" src="/images/spirit-animals.gif">
    </div>
  </div>
  <hr>
</div>


