---
title: Kung Fu
layout: page
---

<div class="u-pad1 u-containProse u-spaceTop1 u-spaceItems1">
  <h1 class="u-textUppercase u-textSpace u-textSerif u-textCenter u-textGrow6">Kung fu</h1>
  <h2 class="u-textPink u-textSerif u-spaceTopNone u-textCenter"><i>The Underdog, the Journey and the Self-Discipline.</i></h2>
  <p class="u-textGrow1 u-spaceBottom2">There is a lot to love about a kung fu movie... There's little plot, and tons of action. While I love the ass kicking, I think there are many other great things you can learn from kung fu.</p>
  <h3 class="u-textBold">Here's what I know from kung fu:</h3>

  <blockquote class="u-spaceBottom1">
    <dl class="u-spaceItems1">
      <dt class="u-textPink">Anyone can be a hero.</dt>

      <dd>You can come from nowhere and rise up to be the most amazing kung fu fighter EVER. With training and determination, you can defeat any evil villain.</dd>

      <dt class="u-textPink">You can learn from your Masters.</dt>

      <dd>Respect the ones that came before you and listen to what they have to teach you. Learn from the past and know your history and you could become a Master too.</dd>

      <dt class="u-textPink">Even if you've made mistakes, or even been villainous yourself, you can always turn yourself around.</dt>

      <dd>Those who have taken their successes and achievements for granted can get a second chance. In kung fu movies usually this means spending some time in a rural village or with some monks in a monastery.</dd>
  </blockquote>
  <p>
    Many times when I am watching kung fu movies I am in awe of the control that the actors and fighters have over their bodies. Guys like Bruce Lee, Jet Li, and Donnie Yen make it look so effortless and easy. I am so clumsy and awkward in my body, the most physical thing I could ever master is running, it takes no coordination, you just have to try to keep going forward. Sometimes I like to think about kung fu-ing the rest of my life... if you Wikipedia kung fu the term, it says that it is a Chinese term referring to any study, learning, or practice that requires patience, energy, and time to complete. It is any skill achieved through hard work and practice, not necessarily martial. I like to think maybe I am kung fu-ing it up all day with Design kung fu. And then family and friends kung fu. And one day, after many training and practice scenes, I will be Master of my own life kung fu.
  </p>
<hr>
</div>
