---
title: Portland Madness
layout: page
---

<div class="u-containSpread u-spaceTop1 u-pad1">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size1of3 u-lg-size7of12 u-spaceBottom1">
      <img class="u-sizeFull" src="/images/pdx-madness-full.png">
    </div>
    <div class="Grid-cell u-md-size2of3 u-lg-size5of12 u-spaceItems1">
      <h1 class="u-textPink u-textUppercase u-textSpaceSm">Portland Madness</h1>
      <p class="u-textBold">Client:  eROI Internal Project</p>

      <p class="u-textBold">Responsibilities: Logo, microsite design, email design, icon set</p>
    </div>
  </div>
</div>

<div class="u-pad1 u-containProse u-spaceItems1">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-size1of3">
      <img class="u-sizeFull" src="/images/animated.gif">
    </div>
    <div class="Grid-cell u-size2of3">
      <p class="u-textGrow1">For the month of March, eROI created the most epic March Madness battle ever. We picked 65 Portland Things to battle it out in a bracket style tournament to determine what exactly was the Most Portland Thing About Portland.</p>
    </div>
  </div>
  <p>My deliverables for the project were first, the design of the actual bracket and microsite and secondly, a set of 64 icons each depicting a Portland Thing. I also designed a series of emails promoting the project. You can read the break down from each person on the eROI Portland Madness Team. From Strategy, Development, and Design, read about the <a href="http://eroi.com/ideas/portland-madness-the-method-behind-the-madness-2/">method behind the madness.</a>.</p>

  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size1of3 u-spaceBottom1">
      <img class="u-sizeFull" src="/images/max.jpg">
    </div>
    <div class="Grid-cell u-md-size2of3">
      <p>The project was so much fun, and the icing on the cake is that we ended up bringing home an AMA Max award for Standout Mobile Strategy.</p>
      {{#embed "patterns.components.button.base" href="http://eroi.com/work/pdx-madness/" class="Button--primary u-spaceTop1"}}
        {{#content "content"}}
          Read the case study
        {{/content}}
      {{/embed}}
    </div>
  </div>
</div>


