---
title: Resume
layout: blank
---

<div class="u-pad1 u-containSpread u-spaceTop1 u-spaceItems1">
  <div class="Grid">
    <div class="Grid-cell u-md-size1of2">
      <span class="u-textGrow2 u-textSerif u-block">J. Nicole Mors</span>
      <span class="u-textFancy">
        Designer
      </span>
    </div>
    <div class="Grid-cell u-md-size1of2 u-md-textRight">
      Contact information
    </div>
  </div>
  <div class="u-containProse">
    <h1 class="u-textFancy u-textCenter"><i>Passion & Craft</i></h1>
    <p class="u-textSerif"><i>I am a seasoned designer with extensive experience that ranges from visual, pixel-pushing expertise, to interactive and responsive design using the latest HTML/CSS/JavaScript technologies. My passion lies in crafting immersive and compelling digital experiences which make the web a better place.</i>
    </p>

    <h3 class="u-textPink u-textLight u-textSpaceSm u-spaceEnds">EXPERIENCE</h3>

    <p class="u-textPink"><span class="u-textBold">Cloud Four, Front-end Designer</span> <span class="u-textGrey u-textShrink1 u-md-spaceLeft6">Feb 2015 - present</span></p>
    <p class="u-textShrink1 u-spaceEnds">Cloud Four is a boutique web development agency focused on building responsive, mobile-first, cutting-edge websites and apps. Cloud Four partners with large
    organizations to help transition existing websites to modern, responsive sites.</p>
    <ul class="u-textShrink1">
      <li>Adapt fixed-width, structured web experiences to flow responsively regardless of screen size and context.</li>
      <li>Create in-browser prototypes/mockups, pattern libraries, design systems and web apps using technologies such as HTML, CSS, and JavaScript.</li>
      <li>Educate clients about the latest challenges and opportunities of responsive
      web design. Work with customers to optimize user experiences for the complex device landscape.</li>
    </ul>

    <p class="u-textShrink1 u-spaceTop"><span class="u-textBold">Clients:</span> Walmart, Columbia Sportswear</p>

    <p class="u-textPink u-spaceTop"><span class="u-textBold">eROI, Design Lead</span> <span class="u-textGrey u-textShrink1 u-md-spaceLeft6">June 2013 - Jan 2015</span></p>
    <p class="u-textShrink1 u-spaceEnds">eROI is a digital agency with a strong strategic focus and deep expertise across the digital landscape. eROI partners with a variety of brands to grow their market impact and improve their customers’ lives.</p>
    <ul class="u-textShrink1">
      <li>Led, taught and managed individual designers with hands-on art direction.</li>
      <li>Responsible for scoping, resourcing and management of individual designers.</li>
      <li>Personally led visual design for clients on a variety of projects.</li>
      <li>Presented cohesive presentations and campaigns to a wide range of
      audiences.</li>
      <li>Worked collaboratively with strategists, developers and project managers.</li>
      <li>Co-headed agency involvement in Design Week Portland 2013 and 2014.</li>
    </ul>

    <p class="u-textShrink1 u-spaceTop"><span class="u-textBold">Clients:</span> Nike, Entertainment Weekly, Fred Meyer Jewelers, Baltimore Sun,
        Bloomberg Business Week</p>

    <p class="u-textPink u-spaceTop"><span class="u-textBold">Web Designer, Anthro Corporation</span>
    <span class="u-textGrey u-textShrink1 u-md-spaceLeft6">May 2011 - Jan 2013</span></p>
    Web/Graphic Designer, Optimize Technologies Dec 2009 - Jan 2011
    Designer, Nutrition Now, Inc Oct 2008 - March 2009
    Designer & Production Artist, Silver Bullet, Inc Jan 2005 - Oct 2008

    <h3 class="u-textPink u-textLight u-textSpaceSm">SKILLS</h3>
  </div>
</div>
