---
title: Startup Weekend
layout: page
---

<div class="u-pad1 u-containProse u-spaceTop1 u-spaceItems1">
  <h1 class="u-textPink u-textUppercase u-textSpaceSm u-textLight u-textGrow4">PORTLAND STARTUP WEEKEND</h1>
  <h2><strong>It was the best of times, it was the worst of times...</strong></h2>
  <p class="u-textGrow2 u-spaceTop1">At the urging of a good friend, I participated in Portland's Startup Weekend. Basically it's a whole weekend where people can pitch a business idea, assemble a team, and essentially launch a business in one whole crazy weekend. Here is a blurb from the Portland Startup Weekend website describing it in a little more detail:</p>

  <blockquote>
    Startup Weekend is a global grassroots movement of active and empowered entrepreneurs who are learning the basics of founding startups and launching successful ventures. It is the largest community of passionate entrepreneurs. All Startup Weekend events follow the same basic model: anyone is welcome to pitch their startup idea and receive feedback from their peers. Teams organically form around the top ideas (as determined by popular vote) and then it's a 54 hour frenzy of business model creation, coding, designing, and market validation. The weekends culminate with presentations in front of local entrepreneurial leaders with another opportunity for critical feedback.
  </blockquote>

  <p>I didn't have an idea to pitch, at least I didn't think I did. After listening to the over 40 pitches the first night of the weekend I think I could have come up with one that might have had a chance of winning the popular vote. I mean, someone pitched an idea for a company that would sell treats you could eat with your dog. Dog/human treats (more on this later).</p>

  <p>So basically I was along for the ride. Designers were in short supply, high demand and I had many good teams to choose from. It came down to two groups, one, wanted to develop the Match.com of fitness... basically pairing people up who had common fitness goals, I really liked their enthusiasm and headbands. The other team that interested me wanted to create a crowd sourced gift giving platform, so let's say your Mom in Arizona is having a birthday, you could easily pool and organize gift giving from all of your siblings that might be located all over the country. I really liked the idea that you could get one good useful gift by pooling money together instead of getting a bunch of crappy cheap gifts. I mean, who likes getting shit gifts? I also thought there were philanthropy undertones that could be explored over the weekend. So ultimately I chose the gift giving group, choosing to go a little more on the deep side than headbands.</p>

  <p>Once assembled our group consisted of "hustlers" (business minded people), "hackers" (developers) and hipsters (designers). Together we tried to come up with an MVP (minimum viable product), business model, some sort of working prototype, and customer validation all by end of Sunday. End of day one, we had a general marketing concept, calling the actual product Give Daka, the gift of giving. The basic concept being, a "Daka" is the actual collection of gift money that you are contributing to. People would go onto the web app and start a Daka, contribute themselves and then invite others to contribute to Daka. Along the way people would share on social networks and each Daka could turn into it's own viral campaign of sorts. We also had a domain, logo and social networks going. On Sunday morning we had HTML and CSS pretty nailed down and the hackers went to work rigging the front and the back end together, while the hustlers went out to get some customer validation. They created an online survey to see if there was general interest in the product and also asked people on the street to see if this was something that people would use to contribute to a gift.</p>
  <figure class="Figure">
    <img src="/images/daka.png">
    <figcaption class="Figure-caption u-textShrink1">
      For my parts I worked on the logo, HTML and CSS.
    </figcaption>
  </figure>

  <p>At the end, I was really surprised at what our group produced. At many times throughout the weekend I thought for sure we would be the one group with nothing to show at the end. I really underestimated the amount of work it would be, and I was pretty proud of all our hard work. We even managed to create our own Daka for a bottle of scotch for the event's emcee, presented to him during our final pitch in the form of giant check, which was kinda obnoxiously awesome.</p>

  <p>At the end even with all our hard work, it wasn't enough to win. We got beat out by Headbands and Dog/Human Treats (yeah, TREATS YOU EAT WITH YOUR DOG, ISN'T THAT ALL FOOD? WONT DOGS EAT ANYTHING THAT YOU EAT, THEY EVEN EAT THEIR OWN POOP). Overall we came in 3rd out of 12 which isn't too bad, and best of all I met a ton of great, super smart people. That being said tho, next year I am totally staying in the shallow end. Anyone pitching ideas of doggie treats or sporting ridiculous head gear, that's the group for me, or who knows, maybe I will even pitch my own big idea.</p>

  <h6>P.S. I ALSO ENDED THE NIGHT BY SCORING A <a href="https://dribbble.com/nicolemors">DRIBBBLE</a> INVITE, YES, WEEKEND = SUCCESS!</h6>
  <hr>
</div>

