---
title: Words
layout: page
---

<div class="u-pad1 u-containProse u-spaceTop1 u-spaceItems1">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-sm-size1of3">
      <a href="/pages/king.html">
        <img class="u-sizeFull" src="/images/nice-picture.png">
      </a>
    </div>
    <div class="Grid-cell u-sm-size2of3 u-spaceItems1">
      <a class="u-textGrow2 u-linkEnter u-textBold" href="/pages/king.html">
        <span class="u-textPink">Down with the King</span>
      </a>
      <p>A design comp (short for comprehensive) historically in print terms was a sample that the printer would print out to get a signature on. It was proof, for the printer to get sign off on saying that everything was correct before moving into print production.</p>
      {{#embed "patterns.components.button.base" class="Button--primary"}}
      {{#content "content"}}
        <a class="u-linkEnter" href="/pages/king.html">Read Article</a>
      {{/content}}
    {{/embed}}
    </div>

    <hr>

  </div>
  <hr>
</div>
