---
title: Work
layout: page
---

<div class="Grid Grid--withGutter u-spaceItems u-spaceSides1 u-sm-spaceSides6 u-spaceTop6 u-spaceBottom6 u-flexAlignItemsCenter">
  <div class="Grid-cell u-md-size1of3 u-spaceBottom1 u-textCenter">
    <a href="/pages/fmj-fun.html">
      <img class="u-size1of2" src="/images/FMJ-quiz.jpg">
    </a>
  </div>
  <div class="Grid-cell u-md-size1of3 u-spaceBottom1">
    <a href="/pages/design-week.html">
      <img class="u-sizeFull" src="/images/journal-mockup.jpg">
    </a>
  </div>
  <div class="Grid-cell u-md-size1of3 u-spaceBottom1">
    <a href="/pages/FMJ-gifts-that-delight.html">
      <img class="u-sizeFull" src="/images/fmj-full.png">
    </a>
  </div>
  <div class="Grid-cell u-md-size1of3 u-spaceBottom1">
    <a href="/pages/hfo-branding.html">
      <img class="u-sizeFull" src="/images/HFO-final-logo.jpg">
    </a>
  </div>
  <div class="Grid-cell u-md-size1of3 u-spaceBottom1">
    <a href="/pages/pdx-madness.html">
      <img class="u-sizeFull" src="/images/pdx-madness-full.png">
    </a>
  </div>
  <div class="Grid-cell u-md-size1of3 u-spaceBottom1">
    <a href="/pages/holiday-cheers.html">
      <img class="u-sizeFull" src="/images/hearth.jpg">
    </a>
  </div>
</div>
<div class="u-bgPink u-padEnds3">
  <div class="u-flex u-flexAlignItemsCenter u-flexJustifyCenter">
    <a href="https://dribbble.com/nicolemors">{{svg "dribbble" class="Icon Icon--dribbble u-textGrow6 u-textWhite"}}</a>
    <p class="u-textGrow2"><a class="u-linkEnter" href="https://dribbble.com/nicolemors"><span class="u-textWhite">Check out my visual design work on dribbble</span></a></p>
  </div>
</div>
