.Navigation--link {
  font-family: var(--fancy);
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.55rem;
  font-style: italic;
  letter-spacing: 0.625rem;
  padding-right: .3em;
}

.Navigation-words {
  background-color: var(--grey-dark);
  text-align: right;
  padding: .8em 0 1em .3em;
}

.Navigation-work {
  background-color: var(--pink);
  padding: .8em 0 1em .8em;
  border-left: solid var(--white);
}

.Kungfu {
  background-image: url(/images/bruce.png);
  background-repeat: no-repeat;
  background-position: -300px 120px;
  padding: 2rem 1rem 20rem 1rem;
  cursor: pointer;
}

@media (--md-viewport) {
  .Kungfu {
    background-position: -335px -77px;
    padding: 100px 0;
  }
}

@media (--lg-viewport) {
  .Kungfu {
    background-position: -121px -76px;
  }
}
