{{!-- Nav item partial --}}
{{#*inline "nav-item"}}
  <a class="drizzle-Nav-item" href="{{@root.baseurl}}/{{url}}">
    {{label}}
  </a>
{{/inline}}

<div class="drizzle-Layout-nav drizzle-Nav" id="nav">
  <div class="drizzle-Nav-header">
    <a href="/pattern-library.html">
      {{> drizzle.logo}}
    </a>
    <a class="drizzle-Nav-header-toggle" href="#nav">
      <svg viewBox="-1 -1 12 7" width="16" height="16">
        <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
      </svg>
    </a>
  </div>
  <div class="drizzle-Nav-main" id="nav-menu">
    {{!-- Element Patterns --}}
    <h3 class="drizzle-Nav-item drizzle-u-marginTop u-padBottomNone u-textPink">Elements</h3>
    <ul class="drizzle-Nav-menu">
      {{#each (collections "elements" sortby="order")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Component Patterns --}}
    <h3 class="drizzle-Nav-item u-padBottomNone u-textPink">Components</h3>
    <ul class="drizzle-Nav-menu">
      {{#each (collections "components" sortby="order")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Combos --}}
    <h3 class="drizzle-Nav-item u-padBottomNone u-textPink">Combos</h3>
    <ul class="drizzle-Nav-menu">
      {{#each (collections "combos" sortby="order")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Pages --}}
    <a href="/pages">
      <h3 class="drizzle-Nav-item u-padBottomNone u-textPink">Pages</h3>
    </a>
  </div>
</div>
