---
hidden: true
---

<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-sm-size1of3">
    {{#block "image"}}
      <a href="#">
        <img class="u-sizeFull" src="http://placehold.it/150x150">
      </a>
    {{/block}}
  </div>
  <div class="Grid-cell u-sm-size2of3 u-padTop1 u-sm-padTopNone">
    {{#block "title"}}
      <a class="u-textGrow2 u-linkEnter u-textBold" href="/pages/king.html">
        <span class="u-textPink">
          Title
        </span>
      </a>
    {{/block}}
    <p class="u-spaceBottom01">
      {{#block "content"}}
        Short Preview
      {{/block}}
    </p>
    {{#block "button"}}
      {{#embed "patterns.components.button.base" class="Button--primary"}}
        {{#content "content"}}
          Button
        {{/content}}
      {{/embed}}
    {{/block}}
  </div>
</div>
