---
title: J. Nicole Mors - Product Designer
layout: page
hidden: true
---

<div class="temp-index u-bgGreyDark u-textWhite u-pad1">
    <div class="u-containProse u-padTop6">
        <h1 class="u-textGreen">J. Nicole Mors</h1>
        <h2>Product Designer</h2>

        <p class="u-spaceTop2"><span class="u-textGreen u-textBold">Three</span> things you should know about me:
            <ol class="u-textLeft">
                <li>I believe good products and experiences should be designed and built for people, I guess you could say I have a <span class="u-textBold">“human centered” design approach.</span></li>
                <li>I am a Designer who <a href="https://github.com/nicolemors">codes.</a></li>
                <li>I am super excited and <span class="u-TextBold">passionate about Design Systems.</span></li> 
             </ol>
        </p>
        <div class="u-flex u-flexJustifyCenter u-spaceTop2">
            <a class="Button u-spaceRight1" href="mailto:hello@nicolemors.com">Email Me</a>
            <a class="Button" href="https://www.linkedin.com/in/nicolemors/">More About Me</a>
        </div>
    </div>
</div>
