---
title: Overview
order: 1
---

<h1>{{title}}</h1>

<p>
  This is the pattern library for the website of <span class="u-textBold">J. Nicole Mors</span>, a Designer located in cloudy Portland Oregon. This library and site was made using <a href="http://www.cloudfour.com">Cloud Four's</a> open source pattern library tool, <a href="https://github.com/cloudfour/drizzle">Drizzle</a>.
</p>
{{#embed "patterns.components.button.base" class="Button--secondary u-spaceTop1" href="/"}}
  {{#content "content"}}
    the site
  {{/content}}
{{/embed}}

