---
name: Overview
sourceless: true
---
<hr class="Separator">
<footer class="u-spaceTop1 u-textShrink01">
  <div class="u-pad1 u-containProse">
    <div class="Grid">
      <div class="Grid-cell u-lg-size5of12 u-spaceBottom1 u-after1of12">
        <h3 class="u-textPink u-textGrow2 u-spaceBottom1"><b>Hello there...</b></h3>
        <p><i>I am Nicole Mors, a Designer located in cloudy Portland Oregon. You should know, I have serious weakness for all things cute, including but not limited to babies, baby animals and Grumpy Cat. Most recently I am learning JavaScript, and buying books I never get around to reading. When I am not designing or interneting, I like to run and stay up late watching <a href="#">kung fu</a>. I am currently making the web responsive <span class="u-textNoWrap">at <a href="#">Cloud Four</a></span>.</i></p>
        <ul class="u-listInline u-spaceTop1">
          <li>
            <a href="#">
              {{svg "twitter" class="Icon u-textGrow3"}}
            </a>
          </li>
          <li>
            <a href="#">
              {{svg "dribbble" class="Icon u-textGrow3"}}
            </a>
          </li>
          <li>
            <a href="#">
              {{svg "git" class="Icon u-textGrow3"}}
            </a>
          </li>
        </ul>
      </div>
      <div class="Grid-cell u-lg-size1of2">
        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-md-size1of2 u-lg-sizeFull u-spaceBottom1">
            <h3 class="u-textPink u-textGrow2 u-spaceBottom1"><b>Listening To...</b></h3>
            <p><i><a href="#">Rachet</a> by Shamir</i></p>
            <p><i><a href="#">I Love You Honeybear</a> by Father John Misty</i></p>
            <p class="u-spaceTop1">
              <a href="#">
                {{svg "spotify" class="Icon u-textGrow3 u-textPink-light"}}
              </a>
            </p>
          </div>
          <div class="Grid-cell u-md-size1of2 u-lg-sizeFull">
            <h3 class="u-textPink u-textGrow2 u-spaceBottom1"><b>Kind of reading...</b></h3>
            <p><i><a href="#">The Design of Everyday Things</a> by Don Norman</i></p>
            <p><i><a href="#">Eloquent JavaScript</a> by Marijn Haverbeke</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bgGreyLight u-pad1">
    <div class="Grid u-containProse">
      <div class="Grid-cell u-md-size5of12 u-after1of12 u-md-padLeft1 u-spaceBottom1">
        <h4 class="u-textPink u-textUppercase u-textSpaceSm u-spaceBottom01">Future Speaking</h4>
        <p>I am taking a hiatus from speaking to focus on procreation, my hope is to pick up speaking again in 2016.</p>
      </div>
      <div class="Grid-cell u-md-size1of2">
        <h4 class="u-textPink u-textUppercase u-textSpaceSm u-spaceBottom01">Past Speaking</h4>
        <ul class="u-listUnstyled u-spaceItems1">
          <li>
            <a href="#"><i>Death of the Design Comp: Down with the King</i></a>
            PDX Web & Design Meetup, December 2014
          </li>
          <li>
            <a href="#"><i>
            RE: RE: RE: RE: RE:VOLUTION: A History of Email Design</i></a>
            Design Week Portland, October 2013
          </li>
          <li>
            <a href="#"><i>
              Death of the Design Comp: Down with the King</i></a>
              Design Week Portland, October 2014
            </a>
          </li>
          <li>
            <a href="#"><i>
            Code, Clouds, & Crying Squirrels</i></a>
            Design Week Portland, October 2013
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
