---
name: Overview
notes: |
  This is the primary masthead.
sourceless: true
---

<div class="Grid Grid--alignCenter">
  <div class="Grid-cell u-size11of12 u-md-size2of6">
    <h1 class="Masthead-title"><a class="Masthead-titleLink" href="/pages/home.html">iterations</a></h1>
  </div>
  <div class="Grid-cell u-size11of12 u-md-size2of6">
    <img src="/images/bloom.svg">
  </div>
  <div class="Grid-cell u-size11of12 u-md-size2of6">
    <h2 class="Masthead-signature">j. nicole mors</h2>
  </div>
</div>

{{{embed "patterns.components.navigation.base"}}}
